/* @font-face kit by Fonts2u (https://fonts2u.com) */
@font-face {
  font-family: "Norse";
  src: url("Font/Norse.eot?") format("eot"),
    url("Font/Norse.woff") format("woff"),
    url("Font/Norse.ttf") format("truetype"),
    url("Font/Norse.svg#Norse") format("svg");
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: "Norse";
  color: white;
  font-size: calc(2rem + 5vw);
}

img {
  height: calc(4rem + 5vw);
}

body {
  margin: 0;
  padding: 0;
}

label {
  font-size: 0.7rem;
  margin-bottom: 0.5rem;
}

input {
  min-width: 300px;
  line-height: 1.5rem;
  font-size: 1rem;
}
input[type="submit"] {
  margin-top: 20px;
}

.form-block {
  margin: 2rem 0;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 5px;
}

.form-container {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  max-width: 900px;
  position: relative;
  left: 40px;
  padding-bottom: 40px;
}

.form-header {
  position: relative;
  left: 40px;
}

.inputs {
  display: flex;
  flex-flow: column wrap;
}

.main {
  display: flex;
  height: 100vh;
}

.left {
  background-image: url("Images/background.avif");
  background-size: cover;
  flex: 1;
}

.right {
  padding-top: 50px;
  flex: 2;
}

.italic {
  font-style: italic;
}

.logo {
  height: calc(75px + 10vw);
  background-color: hsl(0, 0%, 0%, 0.4);
  margin-top: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-text {
  padding: 0 40px;
}
